@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nhóm 6 HAUI
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0948123456
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nguyenthuphuong2913@gmail.com">nguyenthuphuong2913@gmail.com</a><br />
</address>